.custom-error-tip {
    color: red;
  }
  
  nz-form-item {
    display: block;
  }
  
  nz-form-control {
    position: relative;
  }

  input[type="text"] {
 
  background-color: #ffffff;
  color: black;
  outline: none;
  transition: all;

  padding-left: 1rem;
  margin-bottom: 1rem;
  /* border-radius: 10px; */
  }
  
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="text"]:focus {
    /* border-color: #2bb053;  */
    box-shadow: 0 0 5px #2bb053 !important;
    border-color: #2bb053 !important;
  }

  input[type="text"]:hover {
    border-color: #2bb053;
  }

  #rangePicker {
    padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  width: 32rem;
  /* border-radius: 10px; */
  font-size: x-large;
  }

  #rangePicker:hover {
    border-color: #2bb053;
  }
  #rangePicker:focus {
    border-color: #2bb053;
  }

  .large-font {
    font-size: 18px;
  }

  /* nz-descriptions .ant-descriptions-title {
    font-size: 20px;
  } */



  /* #experience {
    padding-right: 20rem;
    padding-bottom: 8rem;
    margin-top: .5rem;
  } */
  
  
  