

@font-face {
  font-family: 'Proxima Nova'; 
  src: url('./assets/fonts/proximanova-regular-webfont.woff2') format('woff2'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GT Pressura';
  src: url('./assets/fonts/GT-Pressura-Extended-Black.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Proxima Nova','Arial' ,'sans-serif'; 
} 

nz-descriptions .ant-descriptions-title {
    font-size: 24px; /* Adjust the font size as needed */
  }

  nz-descriptions .ant-descriptions-item-label {
    font-size: 18px; 
  }

  nz-descriptions .ant-descriptions-item-content {
    font-size: 16px;
  }

  .ant-table {
    font-size: 18px;
  }

  .ant-picker-input > input {
    font-size: 16px;
  }

  .ant-tag {
    font-size: large;
  }


  .ant-upload-list-item-name {
    display: none;
  }

  .ant-upload-span {
    display: none;
  }
  
  .ant-upload-list-text {
    display: none;
  }

  .ant-radio-button {
    background-color: #22c55e;
    border-color: #22c55e;
  }

  .ant-radio-button::selection {
    background-color: #22c55e;
    border-color: #22c55e;
  }
  
  .ant-radio-button:focus {
    background-color: #22c55e;
    border-color: #22c55e;
  }
  
  .ant-radio-button:hover {
    background-color: #22c55e;
    border-color: #22c55e;
  }

  .ant-btn-primary{
    background-color: #22c55e;
    border-color: #22c55e;
  }

  .ant-btn-primary::selection {
    background-color: #22c55e;
    border-color: #22c55e;
  }

  .ant-btn-primary:hover {
    background-color: #22c55e;
    border-color: #22c55e;
  }

  .ant-btn-primary:focus {
    background-color: #22c55e;
    border-color: #22c55e;
  }

  ::selection {
    background: #22c55e;
    color: #fff;
  }

  .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    z-index: 1;
    color: #fff;
    background: #fff;
    border-color: #26a366;
  }

  .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    padding-right: 12px !important;
  }