<nz-skeleton *ngIf="isLoading"></nz-skeleton>

<div>
  <div class="container">
    <h1>Availability</h1>
      <h2>Let employers know when you are available. This will help them match you with their desired shifts.</h2>
        <div class="hero">
          <div *ngFor="let dayData of this.availability" style="width: 11vw; height: 10vh; margin: .5rem; background-color: #F0F2F5">
            <p style="font-size: 1rem; font-weight: medium; margin-top: .5rem; text-align: center;" [innerHTML]="formatAvailabilityData(dayData)"></p>
          </div>
        </div>        
      <div style="display: flex; justify-content: center; padding-top: 2rem; padding-bottom: 2rem;">
        <button class="my-btn" type="submit" (click)="toggleVisibility(!visible)" nz-button style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 12rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';">Edit Availability</button>
      </div>
      <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="400"
      [nzVisible]="visible"
      nzTitle="Availability"
      [nzFooter]="footerTpl"
      (nzOnClose)="toggleVisibility(!visible)"
    >
      <form nz-form *nzDrawerContent [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">
            <nz-form-item>
              <div style="display: flex; flex-direction: column; ">
                <label nz-checkbox (change)="onCheckboxChange('Monday')">MON</label>
                <div style="display: flex; flex-direction: row; margin-top: 1rem;" *ngIf="isChecked">
                  <p style="margin-right: .5rem; margin-top: .5rem;">FROM</p>
                    <nz-time-picker style="margin-right: .5rem;" formControlName="MondayFrom" nzFormat="HH:mm"></nz-time-picker>
                  <p style="margin-right: .5rem; margin-top: .5rem;">TO</p>
                    <nz-time-picker formControlName="MondayTo" nzFormat="HH:mm"></nz-time-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <div style="display: flex; flex-direction: column; ">
                <label nz-checkbox (change)="onCheckboxChange('Tuesday')">TUE</label>
                <div style="display: flex; flex-direction: row; margin-top: 1rem;" *ngIf="tuesdayChecked">
                  <p style="margin-right: .5rem; margin-top: .5rem;">FROM</p>
                    <nz-time-picker style="margin-right: .5rem;" formControlName="TuesdayFrom" nzFormat="HH:mm"></nz-time-picker>
                  <p style="margin-right: .5rem; margin-top: .5rem;">TO</p>
                    <nz-time-picker formControlName="TuesdayTo" nzFormat="HH:mm"></nz-time-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <div style="display: flex; flex-direction: column; ">
                <label nz-checkbox (change)="onCheckboxChange('Wednesday')">WED</label>
                <div style="display: flex; flex-direction: row; margin-top: 1rem;" *ngIf="wednesdayChecked">
                  <p style="margin-right: .5rem; margin-top: .5rem;">FROM</p>
                    <nz-time-picker style="margin-right: .5rem;" formControlName="WednesdayFrom" nzFormat="HH:mm"></nz-time-picker>
                  <p style="margin-right: .5rem; margin-top: .5rem;">TO</p>
                    <nz-time-picker formControlName="WednesdayTo" nzFormat="HH:mm"></nz-time-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <div style="display: flex; flex-direction: column; ">
                <label nz-checkbox (change)="onCheckboxChange('Thursday')">THU</label>
                <div style="display: flex; flex-direction: row; margin-top: 1rem;" *ngIf="thursdayChecked">
                  <p style="margin-right: .5rem; margin-top: .5rem;">FROM</p>
                    <nz-time-picker style="margin-right: .5rem;" formControlName="ThursdayFrom" nzFormat="HH:mm"></nz-time-picker>
                  <p style="margin-right: .5rem; margin-top: .5rem;">TO</p>
                    <nz-time-picker formControlName="ThursdayTo" nzFormat="HH:mm"></nz-time-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <div style="display: flex; flex-direction: column; ">
                <label nz-checkbox (change)="onCheckboxChange('Friday')">FRI</label>
                <div style="display: flex; flex-direction: row; margin-top: 1rem;" *ngIf="fridayChecked">
                  <p style="margin-right: .5rem; margin-top: .5rem;">FROM</p>
                    <nz-time-picker style="margin-right: .5rem;" formControlName="FridayFrom" nzFormat="HH:mm"></nz-time-picker>
                  <p style="margin-right: .5rem; margin-top: .5rem;">TO</p>
                    <nz-time-picker formControlName="FridayTo" nzFormat="HH:mm"></nz-time-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <div style="display: flex; flex-direction: column; ">
                <label nz-checkbox (change)="onCheckboxChange('Saturday')">SAT</label>
                <div style="display: flex; flex-direction: row; margin-top: 1rem;" *ngIf="saturdayChecked">
                  <p style="margin-right: .5rem; margin-top: .5rem;">FROM</p>
                    <nz-time-picker style="margin-right: .5rem;" formControlName="SaturdayFrom" nzFormat="HH:mm"></nz-time-picker>
                  <p style="margin-right: .5rem; margin-top: .5rem;">TO</p>
                    <nz-time-picker formControlName="SaturdayTo" nzFormat="HH:mm"></nz-time-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
          <div nz-col nzSpan="24">
            <nz-form-item>
              <div style="display: flex; flex-direction: column; ">
                <label nz-checkbox (change)="onCheckboxChange('Sunday')">SUN</label>
                <div style="display: flex; flex-direction: row; margin-top: 1rem;" *ngIf="sundayChecked">
                  <p style="margin-right: .5rem; margin-top: .5rem;">FROM</p>
                    <nz-time-picker style="margin-right: .5rem;" formControlName="SundayFrom" nzFormat="HH:mm"></nz-time-picker>
                  <p style="margin-right: .5rem; margin-top: .5rem;">TO</p>
                    <nz-time-picker formControlName="SundayTo" nzFormat="HH:mm"></nz-time-picker>
                </div>
              </div>
            </nz-form-item>
          </div>
        </div>
      </form>

      <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="toggleVisibility(!visible)">Cancel</button>
          <button nz-button nzType="primary" (click)="submitForm()">Submit</button>
        </div>
      </ng-template>
    </nz-drawer>    
    </div>
  </div>

