<div style="padding: 1rem; margin-left: 4px;">
    <h1>{{ title }}</h1>
    
    <nz-table #basicTable [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" 
              (nzPageIndexChange)="handlePageIndexChange($event)" [nzData]="data">
        <thead>
            <tr>
                <th *ngFor="let header of headers">{{ header }}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rowData of data">
                <td>KFC</td>
                <td>{{ rowData.job.jobRole }}</td>
                <td>{{ rowData.job.jobNature }}</td>
                <td>{{ rowData.job.hourlyRate | currency:'£' }}</td>
                <td>
                    <ng-container *ngIf="rowData.status === 'Success'; else goldTag">
                        <nz-tag [nzColor]="'green'">{{ rowData.status }}</nz-tag>
                    </ng-container>
                    <ng-template #goldTag>
                        <nz-tag [nzColor]="'gold'">{{ rowData.status }}</nz-tag>
                    </ng-template>
                </td>
                <td *ngIf="showSuccess">
                    <button type="submit" nz-button 
                            style="font-family: 'Proxima Nova'; background-color: #EF4444; color: #ffffff; border-radius: 0.375rem; border-color: #EF4444; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 4vw; height: 2.5rem; font-size: medium; "
                            onmouseover="this.style.backgroundColor='#C53030 ';"
                            onmouseout="this.style.backgroundColor='#EF4444';">
                        Cancel
                    </button>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>
