
<div style="font-family: 'Proxima Nova', sans-serif; min-height: 100vh; background-color: #f3f4f6; display: flex; flex-direction: column; justify-content: center;">
    <div style="position: relative;  margin: auto;">
        <div style="position: absolute; inset: 0; background: linear-gradient(to right, #a2f5cb, #38a169, #38a169); box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); transform: skewY(-6deg); border-radius: 1.875rem;"></div>
        <div style="position: relative; padding-top: 3rem; padding-bottom: 2rem; padding-left: 1.5rem; padding-right: 1.5rem; background-color: #ffffff; box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); border-radius: 1.875rem; ">
            <div >
                <div>
                    <h1 style="padding-bottom: 1rem; font-size: 2rem; font-weight: bold; text-align: center;">{{title}}</h1>
                </div>

                <form style="border-top: 1px solid #e2e8f0;" nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">

                    <div style="padding: 1rem; font-size: 1rem; color: #4a5568;">
                        <div >
                            <nz-form-item >
                                <nz-form-control nzErrorTip="The input is not a valid email!" class="custom-error-tip">
                                    <input style="font-size: 1rem;" nz-input type="email" id="email" formControlName="email" placeholder="Email" >
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <nz-form-item >
                            <nz-form-control nzErrorTip="Please input your password!" class="custom-error-tip">
                                <input style="font-size: 1rem;" nz-input type="password" id="password" formControlName="password" placeholder="Password">
                            </nz-form-control>
                        </nz-form-item>

                        <div style="display: flex; justify-content: center;">
                            <div style="position: relative;">
                                <div style="display: flex; justify-content: center;">
                                    <button type="submit" nz-button style="font-family: 'GTPressura', sans-serif; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.25rem; padding-right: 0.25rem;  width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';" [nzType]="'primary'" [nzLoading]="isLoading">{{signInLabel}}</button>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex; justify-content: center; padding-top: 1rem;">
                            <div style="position: relative;">
                                <button *ngIf="showSignUp()" type="submit" nz-button
                                style="font-family: 'GTPressura', sans-serif; background-color: #ffffff; color: #22c55e; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.25rem; padding-right: 0.25rem; padding-top: 0.2rem; padding-bottom: 0.2rem; width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#22c55e'; this.style.color='#ffffff';" onmouseout="this.style.backgroundColor='#ffffff'; this.style.color='#22c55e';"
                                        [nzType]="'primary'" (click)="signUp()">{{signUpLabel}}
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

