/* canvas{
  margin-top: 1rem;
  padding-top: 1rem;
    width:650px !important;
    height:400px !important;
  } */

  nz-date-picker {
    width: 12vw;
  }  

  nz-date-picker:hover {
    border-color: #26a366;
  }

  nz-date-picker:focus {
    border-color: #26a366;
  }

  nz-date-picker::selection {
    border-color: #26a366;
  }