<div style="display: flex; flex-direction: column; justify-content: space-around;">
<div>
  <div style="margin-top: 1rem;">
    <nz-date-picker nzMode="week" [(ngModel)]="date" (ngModelChange)="getWeek($event)"></nz-date-picker>
  </div>
  <div>
    <app-bar-chart></app-bar-chart>
  </div>
</div>
<!-- <div style="margin: 1rem;">
  <h1>Details regarding Graphs</h1>
</div>
<div style="font-family: 'Proxima'; margin-top: 1rem;">
  <nz-table style="max-width: 90vw;" #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Date</th>
        <th>Active Employees</th>
        <th>Total Orders</th>
        <th>Gross Sale</th>
        <th>Employee Cost</th>
        <th>Gross Effiecieny</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>24.03.23</td>
        <td>{{ data.employees }}</td>
        <td>{{ data.orders }}</td>
        <td>{{ data.sales |  currency:'CAD':'symbol-narrow':'4.2-2'}}</td>
        <td>{{ data.employeeCost |  currency:'CAD':'symbol-narrow':'4.2-2'}}</td>
        <td>{{ data.efficiency | percent }}</td>
      </tr>
    </tbody>
  </nz-table>
</div> -->