<div style="display: flex; flex-direction: row; justify-content: space-around;">
<div>
  <div style="margin-top: 1rem;">
    <nz-date-picker nzMode="week" [(ngModel)]="date" (ngModelChange)="getWeek($event)"></nz-date-picker>
  </div>
  
  <div style="margin-top: 1rem;">
    <h1>Prediction Graph</h1>
  </div>
  <canvas
  baseChart
  class="chart"
  [data]="barChartData"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [type]="barChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
>
</canvas>
  <!-- <button nz-button style="font-family: 'Proxima Nova'; margin-top: 1rem; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; cursor: pointer; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';" color="primary" (click)="randomize()">
    Update
  </button> -->
</div>


<app-bar-chart></app-bar-chart>
</div>
<div style="margin: 1rem;">
  <h1>Details regarding Graphs</h1>
</div>
<div style="font-family: 'Proxima'; margin-top: 1rem;">
  <nz-table style="max-width: 90vw;" #basicTable [nzData]="listOfData">
    <thead>
      <tr>
        <th>Date</th>
        <th>Active Employees</th>
        <th>Total Orders</th>
        <th>Gross Sale</th>
        <th>Employee Cost</th>
        <th>Gross Effiecieny</th>
        <!-- <th>Action</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of basicTable.data">
        <td>24.03.23</td>
        <td>{{ data.employees }}</td>
        <td>{{ data.orders }}</td>
        <td>{{ data.sales |  currency:'CAD':'symbol-narrow':'4.2-2'}}</td>
        <td>{{ data.employeeCost |  currency:'CAD':'symbol-narrow':'4.2-2'}}</td>
        <td>{{ data.efficiency | percent }}</td>
        <!-- <td>
          <a>Action 一 {{ data.name }}</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a>Delete</a>
        </td> -->
      </tr>
    </tbody>
  </nz-table>
</div>