<div style="display: flex; flex-direction: row; justify-content: space-around;">
<div>
  <canvas
  baseChart
  class="chart"
  [data]="barChartData"
  [options]="barChartOptions"
  [plugins]="barChartPlugins"
  [type]="barChartType"
  (chartHover)="chartHovered($event)"
  (chartClick)="chartClicked($event)"
>
</canvas>
  <button nz-button style="font-family: 'Proxima Nova'; margin-top: 1rem; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; cursor: pointer; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';" color="primary" (click)="randomize()">
    Update
  </button>
</div>


<app-bar-chart></app-bar-chart>
</div>