
  
  .congratulations-title {
    font-size: 24px;
    font-size: larger;
    margin-bottom: 10px;
  }
  
  .congratulations-message {
    font-size: 16px;
    line-height: 1.4;
  }
  
  
  .animated-div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24rem;
    height: 8rem;
    border: #4CAF50;
    border-radius: 1rem;
    background-color: #4CAF50; /* Green background color */
    margin: 20rem auto; /* Center the div horizontally */
    /* animation: bounce 1s infinite alternate; Apply the bounce animation */
  }
  
  .center-button {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  @keyframes bounce {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-20px);
    }
  }
  