<nav class="navbar bg-green-600 text-white">
    <div class="container mx-auto flex items-center justify-end">
      <div class="flex items-center p-2">
        <button class="btn btn-ghost border rounded-md px-3 py-2 bg-white text-green-600">Sign In</button>
      </div>
    </div>
  </nav>
  <div class="animated-div bg-green-600">
    <button class="center-button  text-white font-GTPressura text-3xl rounded-lg border-green-600">Congratulations You have registered successfully!</button>
  </div>
  