<!-- <nav class="navbar bg-green-600 text-white">
    <div class="container mx-auto flex items-center justify-end">
      <div class="flex items-center p-2">
        <button class="btn btn-ghost border rounded-md px-3 py-2 bg-white text-green-600">Log out</button>
      </div>
    </div>
  </nav>

  <div class="mx-60 border font-GTPressura">
    <div>
        <div class="bg-gray-300 flex justify-around p-2 list-none">
            <li class="cursor-pointer" routerLink="/profile">Dashboard</li>
            <li class="cursor-pointer" routerLink="/experience">Employee</li>
            <li class="cursor-pointer" routerLink="/jobs">Post Job</li>
            <li class="cursor-pointer" routerLink="/skills">Schedule</li>
            <li class="cursor-pointer" routerLink="/applications">Get Applicant</li>
            <li class="cursor-pointer" routerLink="/settings">Settings</li>
        </div>
      </div>
    </div> -->
<app-navbar-admin></app-navbar-admin>
    <div class="mx-60 border font-GTPressura">

      <!-- <div class="p-4 ml-4">
          <h1 class="text-3xl pb-4">Create Employee</h1>
          <p class="mx-2 pb-4">Create by filling in these information.</p>
          <div class="grid grid-cols-3">
            <img class=" pb-4" src="../../assets/images/user-profile-default.png">
            <div class="flex flex-col justify-center">
                <label class="mb-6" for="">First Name
                    <input type="text" [value]="firstName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
                <label class=""  for="">Email
                    <input type="text" [value]="lastName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
            </div>

            <div class="flex flex-col justify-center">
                <label class="mb-6" for="">Last Name
                    <input type="text" [value]="firstName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
                <label class=""  for="">Password
                    <input type="text" [value]="lastName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
                
            </div>
            
          </div>
        
    </div>
        <form nz-form class="p-8 grid grid-cols-3 " [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item class="p-3">
            <nz-form-label>Phone Number</nz-form-label>
            <nz-form-control [nzValidateStatus]="validateForm.controls['phoneNumber']" nzErrorTip="Please input your phone number!" class="custom-error-tip">
              <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                <ng-template #addOnBeforeTemplate>
                </ng-template>
              </nz-input-group>
              <input nz-input formControlName="phoneNumber" id="phoneNumber" placeholder="Phone Number" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;">
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item class="p-3">
            <nz-form-label>Hourly Rate</nz-form-label>
            <nz-form-control nzErrorTip="Please input your hourly Rate!" class="custom-error-tip">
              <input nz-input id="hourlyRate" formControlName="hourlyRate" placeholder="Hourly Rate" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item class="p-3">
            <nz-form-label>Address</nz-form-label>
            <nz-form-control nzErrorTip="Please input a address!" class="custom-error-tip">
              <textarea nz-input id="address" formControlName="address" placeholder="Address" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem;  border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="p-3">
            <nz-form-label>Experience</nz-form-label>
            <nz-form-control nzErrorTip="Please input a address!" class="custom-error-tip">
              <textarea nz-input id="address" formControlName="address" placeholder="Address" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem;  border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="p-3">
            <nz-form-label>Skill Tags</nz-form-label>
            <nz-form-control nzErrorTip="Please input your skill Tags!" class="custom-error-tip">
              <textarea nz-input id="skillTags" formControlName="skillTags" placeholder="Skill Tags" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem; border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="p-3">
            <nz-form-label>Service Access</nz-form-label>
            <nz-form-control nzErrorTip="Please input your skill Tags!" class="custom-error-tip">
              <textarea nz-input id="skillTags" formControlName="skillTags" placeholder="KDS" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem; border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>
    
    </form>
    <div >
        
        <div class=" flex justify-center p-14">
          <button type="submit" nz-button
              class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 w-40 h-12 text-xl hover:bg-green-600"
              [nzType]="'primary'">Save
          </button>
        </div> -->
    </div>        
<!-- </div> -->


  


