.container {
    padding: 1rem; 
    margin-left: 4px;
}

h1 {
    font-size: 1.875rem; 
    font-weight: bold; 
    padding-bottom: 1rem;
}

p {
    font-size:x-large; 
    padding-left: .5rem;
}

.btn-container {
    display: flex; 
    justify-content: center; 
    padding-top: 2rem; 
    padding-bottom: 2rem;
}