
    <nz-result style="font-family: 'GTPressura'; font-weight: bold;"
      nzStatus="success"
      nzTitle="Successfully Registered!" 
      >
      <div nz-result-extra>
        <button nz-button style="padding-right: 2rem; padding-left: 2rem; padding-bottom: 4rem; text-align: center; font-size:xx-large; font-family: 'GTPressura'; background-color: #22c55e; border: #22c55e; border-radius: 1rem;" onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';" nzType="primary" [routerLink]="['']">Sign In</button>
      </div>
    </nz-result>
