.btn {
    display: flex; 
    justify-content: right; 
    padding-top: 2rem; 
    padding-bottom: 2rem;
}

button {
    font-family: 'Proxima Nova'; 
    background-color: #22c55e; 
    color: #ffffff; 
    border-radius: 0.375rem; 
    border-color: #22c55e; 
    padding-left: 0.75rem; 
    padding-right: 0.75rem; 
    padding-top: 0.25rem; 
    padding-bottom: 0.25rem; 
    width: 16rem; 
    height: 3rem; 
    font-size: 1.5rem;
}

button:hover {
    color: white;
}