<div style=" font-family: 'Proxima Nova'">
<div *ngIf="!showSuccess" class="btn">
  <app-custom-button buttonText="Granted Applications" backgroundColor="#22c55e" (buttonClick)="toggleApplications(true)"></app-custom-button>
</div>
<div *ngIf="showSuccess" class="btn">
  <app-custom-button buttonText="Pending Applications" backgroundColor="#22c55e" (buttonClick)="toggleApplications(false)"></app-custom-button>
</div>

  <div *ngIf="!showSuccess" style="padding: 1rem; margin-left: 4px;">
    <h1 >Your Current Pending Applications</h1>
    
    <nz-table #basicTable [nzPageIndex]="currentPage" [nzPageSize]="pageSize" (nzPageIndexChange)="handlePageIndexChange($event)" [nzData]="listOfData">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Job Role</th>
          <th>Job Nature</th>
          <th>Hourly Rate</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>KFC</td>
          <td>{{data.job.jobRole}}</td>
          <td>{{data.job.jobNature}}</td>
          <td>{{data.job.hourlyRate | currency:'£'}}</td>
          <td>
    <nz-tag [nzColor]="'gold'">{{data.status}}</nz-tag>
</td>
          <td>
            <button type="submit" nz-button
    style="font-family: 'Proxima Nova'; background-color: #EF4444; color: #ffffff; border-radius: 0.375rem; border-color: #EF4444; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 4vw; height: 2.5rem; font-size: medium; " onmouseover="this.style.backgroundColor='#C53030 ';" onmouseout="this.style.backgroundColor='#EF4444';">Cancel
    </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
</div>
  <div *ngIf="showSuccess" style="padding: 1rem; margin-left: 4px;">
    <h1 >Your Current Success Applications</h1>
    
    <nz-table #basicTable [nzPageIndex]="currentPage" [nzPageSize]="pageSize" (nzPageIndexChange)="handlePageIndexChange($event)" [nzData]="listOfSuccess">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Job Role</th>
          <th>Job Nature</th>
          <th>Hourly Rate</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>KFC</td>
          <td>{{data.job.jobRole}}</td>
          <td>{{data.job.jobNature}}</td>
          <td>{{data.job.hourlyRate | currency:'£'}}</td>
          <td>
  <ng-container *ngIf="data.status === 'Success'; else goldTag">
    <nz-tag [nzColor]="'green'">{{data.status}}</nz-tag>
  </ng-container>
  <ng-template #goldTag>
    <nz-tag [nzColor]="'gold'">{{data.status}}</nz-tag>
  </ng-template>
</td>
        </tr>
      </tbody>
    </nz-table>
</div>
</div>
