.input-container {
    display: flex;
    position: relative;
  }
  
  /* .input-container input {
    flex: 1;
  } */
  
  .btn-icon {
    position: absolute;
    top: 50%;
    left: 15rem;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }

  #serachbox {
    margin-left: 1rem;
    border: 1px solid #cbd5e0;
    background-color: #F3F4F6;
    color: black;
    outline: none;
    transition: all;
    padding-top: .2rem;
    padding-bottom: .2rem;
    padding-right: 5rem;
    padding-left: 1rem;
    border-radius: 10px;
    width: 16rem;
  }

  #serachbox:hover {
    border-color: #2bb053;
    }
    
    #serachbox:focus {
    border-color: #2bb053
    }
    
    
    * {
    font-size: large;
    }  
    