  <nav style="background-color: #038851; color: #ffffff;">
    <div style="margin-right: 2rem; padding-right: 2rem; padding-left: 2rem; display: flex; align-items: center; justify-content: flex-end;">
      <div style="display: flex; align-items: center; padding: 0.5rem;">
        <button [routerLink]="'/applicant/' + applicantId" style="border: 1px solid #ffffff; cursor: pointer; font-family: 'Proxima Nova'; font-size: large; border-radius: 0.375rem; padding: 0.5rem 0.75rem; width: 3rem; background-color: #ffffff; color: #38a169;"><span nz-icon nzType="user" nzTheme="outline"></span></button>
      </div>
    </div>
  </nav>
  <div style="  font-family: 'Proxima Nova';">
  <div style="background-color: 68d391; border-radius: 0.375rem; box-shadow: 0 4px 6px -1px rgba(46, 129, 83, 0.4), 0 2px 4px -1px rgba(46, 129, 83, 0.06); ">
  <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: .5rem; ">
  <div>
    <div style=" width: 24rem; display: flex; flex-direction: column;">
      <label style="font-weight: bold;">Job Title</label>
      <nz-select
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="Search Roles"
      [(ngModel)]="selectedValue"
      [nzShowArrow]="false"
      [nzFilterOption]="nzFilterOption"
      (nzOnSearch)="search($event)"
      (ngModelChange)="onOptionSelected($event)"
    >
      <nz-option *ngFor="let o of listOfOption" [nzLabel]="o.text" [nzValue]="o.value"></nz-option>
    </nz-select>
    </div>
  </div>
  <div style="margin-left: 1rem;">
    <div style=" width: 24rem; display: flex; flex-direction: column;">
      <label style="font-weight: bold;">Skill Tags</label>
      <nz-select
      nzShowSearch
      nzServerSearch
      nzPlaceHolder="Search Skills"
      [(ngModel)]="selectedSkillValue"
      [nzShowArrow]="false"
      [nzFilterOption]="nzFilterOption"
      (nzOnSearch)="searchSkill($event)"
      (ngModelChange)="onSkillOptionSelected($event)"
    >
      <nz-option *ngFor="let skill of listOfSkillOption" [nzLabel]="skill.text" [nzValue]="skill.value"></nz-option>
    </nz-select>
    </div>
  </div>
  <div>
    <div style="padding: 1rem; ">
      <label style="font-weight: bold;">Your address</label>
      <app-address></app-address>
      <!-- <input nz-input type="text" style="font-size: medium;" id="hourlyRate"  placeholder=" Dhaka, Bangladesh"> -->
    </div>
  </div>
  <!-- <div>
    <label style="font-weight: bold;">Distance</label>
              <div>
              <nz-select id="select" nzAllowClear nzPlaceHolder="10 Mile" >   
                  <nz-option nzValue="5 mile" nzLabel="5 mile"></nz-option>
                  <nz-option nzValue="10 mile" nzLabel="10 mile"></nz-option>        
                  <nz-option nzValue="15 mile" nzLabel="15 mile"></nz-option>        
              </nz-select>
            </div>
  </div> -->
</div>
<div style="background-color: #F3F4F6; height: .1rem; width: 70%; position: relative; left: 15%;">
</div>
<div style="text-align: center; margin: 1rem; height: 2rem; display: flex; flex-direction: row; justify-content: space-around;">
  <!-- <div>
  <label style="font-weight: bold; margin-right: 1rem;">Hourly Rate</label>
  <nz-radio-group  nzButtonStyle="solid" [(ngModel)]="selectedHourlyRate" (ngModelChange)="onHourlyRateChange()">
    <label nz-radio-button nzValue="Flexible">Flexible</label>
    <label nz-radio-button nzValue="Fixed">Fixed</label>
  </nz-radio-group>
</div> -->
  <div>
  <label style="font-weight: bold; margin-right: 1rem;">Job Type</label>
  <nz-radio-group  nzButtonStyle="solid" [(ngModel)]="selectedJobType" (ngModelChange)="onJobTypeChange()">
    <label nz-radio-button nzValue="A">Part-Time</label>
    <label nz-radio-button nzValue="B">Full-Time</label>
    <label nz-radio-button nzValue="C">Both</label>
  </nz-radio-group>
</div>
<div style="display: flex;">
  <label style="font-weight: bold; margin-right: 1rem;">Distance</label>
          <nz-row [ngStyle]="{ width: '24rem' }">
            <nz-col nzSpan="12">
              <nz-slider [nzMin]="1" [nzMax]="20" [(ngModel)]="value1"></nz-slider>
            </nz-col>
            <div nz-col nzSpan="4">
              <nz-input-number
                [nzMin]="1"
                [nzMax]="20"
                [ngStyle]="{ marginLeft: '16px' }"
                [(ngModel)]="value1"
              ></nz-input-number>
            </div>
          </nz-row>
</div>
</div>
<div style="background-color: #F3F4F6; height: .1rem; width: 50%; position: relative; left: 25%;">
</div>
</div>
  <div style="display: flex; justify-content: center; margin-top: .5rem; ">
    <div>
      <app-job-card *ngFor="let card of cards" [card]="card" [isSliced]="true" [showButton]="true" (click)="selectCard(card)" ></app-job-card>
    </div>
    <div class="selected-card">
      <app-job-card *ngIf="selectedCard" [card]="selectedCard" [isSliced]="false" [showButton]="false"></app-job-card>
    
    </div>
  </div>
  </div>

