input[type="password"],
  input[type="text"] {
    margin-bottom: 1rem;
    border: 1px solid #cbd5e0;
    color: black;
    outline: none;
    transition: all;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-right: 5rem;
    padding-left: 1rem;
    border-radius: 10px;
  }

  input[type="email"] {
    margin-bottom: 1rem;
    margin-left: 2.4rem;
    border: 1px solid #cbd5e0;
    color: black;
    outline: none;
    transition: all;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    border-radius: 10px;
    width: 17rem;
  }
  
  input[type="password"] {
    margin-bottom: 1rem;
    margin-left: .4rem;
    border: 1px solid #cbd5e0;
    color: black;
    outline: none;
    transition: all;
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    border-radius: 10px;
    width: 17rem;
  }