
  nz-form-item {
    display: block;
  }
  
  nz-form-control {
    position: relative;
  }
  
  #address {
    margin-left: 1rem;
    width: 24rem;
    padding-bottom: 6rem;
  }

  #hourlyRate {
    margin-left: 1rem;
    width: 24rem;
  }

  #phoneNumber {
    width: 16vw;
    padding: .4rem;
  }

  #service {
    width: 20rem;
  }


  #firstName, #lastName, #email, #password {
    width: 18rem;
    margin-left: .5rem;
  }


  .phone-select {
  width: 70px;
}

.register-are {
  margin-bottom: 8px;
}

input[type="number"] {
  margin-bottom: 1rem;
  border: 1px solid #cbd5e0;
  color: black;
  outline: none;
  transition: all;
  /* padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: 5rem; */
  /* padding-left: 1rem; */
  /* border-radius: 10px; */
}
  
  #select {
    width: 6vw;
    padding-top: .5rem;
    /* margin-left: 1rem; */
  }

   
  
  input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  /* border-color: #2bb053;  */
  box-shadow: 0 0 5px #2bb053 !important;
  border-color: #2bb053 !important;
}
  
  
input[type="text"]:hover {
  border-color: #2bb053
}
  