<!-- <app-navbar-admin></app-navbar-admin> -->

  <!-- <div class="mx-60 border font-GTPressura">
    <div *ngIf="!showForm">
        <h1 class="mt-6 text-center text-3xl">You didn't posted any Job.</h1>
        <div  class=" flex justify-center mt-2 p-8">
        <button type="submit" nz-button
            class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 h-12 text-xl hover:bg-green-600"
            [nzType]="'primary'" (click)="showForm = true">Create Job Post
        </button>
      </div>
    </div>

    <div *ngIf="showForm">
        <div class="float-right m-4">
            <button type="submit" nz-button
        class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 h-12 text-xl hover:bg-green-600"
        [nzType]="'primary'" (click)="showForm = false">Go back
    </button>
        </div>
      <div class="p-4 ml-4">
          <h1 class="text-3xl pb-4">Create Job</h1>
          <p class="mx-2 pb-4">Create by filling in these information.</p>        
    </div>
        <form nz-form class="p-8 grid grid-cols-3 " [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item class="p-3">
            <nz-form-label>Job Role</nz-form-label>
            <nz-form-control nzErrorTip="Please input Job Role!" class="custom-error-tip">
                <input nz-input id="jobRole" formControlName="jobRole" placeholder="Chef" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
              </nz-form-control>
          </nz-form-item>
    
          <nz-form-item class="p-3">
            <nz-form-label>Job Nature</nz-form-label>
            <nz-form-control nzErrorTip="Please input the Job Nature!" class="custom-error-tip">
              <input nz-input id="jobNature" formControlName="jobNature" placeholder="Full-Time" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="p-3">
            <nz-form-label>Hourly Rate</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Hourly Rate!" class="custom-error-tip">
              <input nz-input id="hourlyRate formControlName="hourlyRate placeholder="20$" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
            </nz-form-control>
          </nz-form-item>
    
          
          
          <nz-form-item class="p-3">
            <nz-form-label>Experience </nz-form-label>
            <nz-form-control nzErrorTip="Please input your required experience!" class="custom-error-tip">
              <textarea nz-input id="experience" formControlName="experience" placeholder="Experience" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem;  border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="p-3">
            <nz-form-label>Skill Tags</nz-form-label>
            <nz-form-control nzErrorTip="Please input your required skill Tags!" class="custom-error-tip">
              <textarea nz-input id="skillTags" formControlName="skillTags" placeholder="Skill Tags" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem; border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="p-3">
            <nz-form-label>Job Description</nz-form-label>
            <nz-form-control nzErrorTip="Please input job description!" class="custom-error-tip">
              <textarea nz-input id="jobDescription" formControlName="jobDescription" placeholder="Description" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem; border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>
    
    </form>
    <div >
        
        <div class=" flex justify-center p-16">
          <button type="submit" nz-button
              class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 w-40 h-12 text-xl hover:bg-green-600"
              [nzType]="'primary'">Post
          </button>
        </div>
    </div>
    
  </div>
</div> -->
  
<div style=" font-family: 'Proxima Nova';">
  <div *ngIf="!showForm">
      <h1 *ngIf="apiData.length === 0" style="margin-top: 1.5rem; text-align: center; font-size: 1.875rem;">You didn't post any Job.</h1>
      <div *ngIf="apiData.length">
        <h1 style="margin-top: 1.5rem; text-align: center; font-size: 1.875rem;">Job Post Information</h1>
      <nz-table #basicTable [nzData]="apiData">
        <thead>
          <tr>
            <th>Job Role</th>
            <th>Job Nature</th>
            <!-- <th>Job Nature</th> -->
            <th>Hourly Rate</th>
            <th>Posting Date</th>
            <th>Deadline</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{data.jobRole}}</td>
            <td>{{data.jobNature}}</td>
            <!-- <td>{{data.jobNature}}</td> -->
            <td>{{data.hourlyRate | currency}}</td>
            <td>{{data.createdAt | date: 'yyyy-MM-dd ' }}</td>
            <td>{{data.applicationDeadline | date: 'yyyy-MM-dd ' }}</td>
            <td>
              <!-- <span style="cursor: pointer;" nz-icon nzType="eye" nzTheme="outline"></span> -->
              <a style="color: rgb(206, 27, 42);">Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      </div>
      <div style="display: flex; justify-content: center; margin-top: 1rem; padding: 2rem;">
        <button type="submit" nz-button style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 16rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
        [nzType]="'primary'" (click)="showForm = true">Create Job Post
    </button>
      </div>
  </div>

  <div *ngIf="showForm">
      <div style="float: right; margin: 1rem 4rem;">
        <button type="submit" nz-button style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
        [nzType]="'primary'" (click)="showForm = false">Go back
    </button>
      </div>
      <div style="padding: 1rem; margin-left: 4px;">
          <h1 style="font-size: 1.875rem; font-weight: bold; padding-bottom: .5rem;">Create Job</h1>
          <p style="margin-left: .5rem; font-size: x-large; padding-bottom: 1rem;">Create by filling in these information.</p>
      </div>
      <form nz-form style="padding: 2rem; display: grid; grid-template-columns: repeat(3, 1fr);" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <div style="padding: 1rem; display: flex; flex-direction: column;">
              <label style="font-size: medium;">Job Role</label>
              <input nz-input type="text" style="font-size: medium;" id="jobRole" formControlName="jobRole" placeholder="Chef">
          </div>

          <div style="padding: 1rem; display: flex; flex-direction: column;">
              <label style="font-size: medium;">Job Nature</label>
              <div>
              <nz-select id="select" formControlName="jobNature" nzAllowClear nzPlaceHolder="Full Time" >   
                  <nz-option nzValue="Full-Time" nzLabel="Full-Time"></nz-option>
                  <nz-option nzValue="Part-Time" nzLabel="Part-Time"></nz-option>        
              </nz-select>
            </div>
          </div>

          <div style="padding: 1rem;">
              <label style="font-size: medium;">Hourly Rate</label>
              <input nz-input type="text" style="font-size: medium;" id="hourlyRate" formControlName="hourlyRate" placeholder="20$">
          </div>
          
          <div style="padding: 1rem; margin-top: .5rem; display: flex; flex-direction: column;">
            <!-- <input nz-input type="text" style="font-size: large;" id="skillTags" formControlName="skillTags" placeholder="Skill Tags">  -->
            <label style="font-size: medium;">Skill Tags</label>
            <nz-select id="select"
            [nzMaxTagCount]="3"       
            nzMode="multiple"
            nzPlaceHolder="Please select"
            formControlName="listOfSelectedValue"
            >
            <nz-option *ngFor="let item of listOfOption" [nzLabel]="item" [nzValue]="item"></nz-option>
          </nz-select>
        </div>

        <div style="padding: 1rem; margin-top: .5rem;">
          <nz-form-item>
            <label style="font-size: medium;">Deadline</label>
            <nz-form-control >
              <nz-date-picker id="datePicker" formControlName="datePicker"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>
        </div>
        
        <div style="grid-column: span 3; display: flex;">

        <div style="padding: 1rem;">
            <label style="font-size: medium;">Job Description</label>
            <textarea nz-input type="text" style="font-size: medium;" id="jobDescription" formControlName="jobDescription" placeholder="Description"></textarea>
        </div>

        <div style="padding: 1rem;">
            <label style="font-size: medium;">Experience</label>
            <textarea nz-input type="text" style="font-size: medium;" id="experience" formControlName="experience" placeholder="Experience"></textarea> 
        </div>
        
        <div style="padding: 1rem;">
            <label style="font-size: medium;">Responsibilities</label>
            <textarea nz-input type="text" style="font-size: medium;" id="experience" formControlName="responsibilities" placeholder="Responsibilities"></textarea>
        </div>
      </div>
      </form>
      
      <div style="display: flex; justify-content: center; padding: 2rem;">
        <button type="submit" nz-button style="font-family: 'GTPressura', sans-serif; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 12rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
        [nzType]="'primary'" (click)="submitForm()">Publish Job
    </button>
      </div>
  </div>
</div>


