<div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; border: 1px solid; border-left: 0; border-right: 0; padding: 0.5rem 1rem;">
  <div>
    <a href="https://bento-client.vercel.app/dashboard">
      <img src="../../assets/photos and logos/logo-2.png" style="cursor: pointer; width: 6rem;" alt="">
    </a>
  </div>
  <div style="display: flex; flex-direction: row; align-items: center;">
<button nz-button nzType="primary" (click)="logout()"><span nz-icon nzType="logout" nzTheme="outline"></span>Logout</button>
  </div>
</div>