<nav class="navbar bg-green-600 text-white">
    <div class="container mx-auto flex items-center justify-end">
      <div class="flex items-center p-2">
        <button class="btn btn-ghost border rounded-md px-3 py-2 bg-white text-green-600">Log out</button>
      </div>
    </div>
  </nav>

  <div class="mx-60 border font-GTPressura">
    <div>
        <div class="bg-gray-300 flex justify-around p-2 list-none">
            <li class="cursor-pointer" routerLink="/admin">Dashboard</li>
            <li class="cursor-pointer" routerLink="/createEmployee">Employee</li>
            <li class="cursor-pointer" routerLink="/jobs">Post Job</li>
            <li class="cursor-pointer" routerLink="/createSchedule">Schedule</li>
            <li class="cursor-pointer" routerLink="/applicant">Applicant Tracking</li>
            <li class="cursor-pointer" routerLink="/payroll">Payroll</li>
        </div>
      </div>
    <!-- </div> -->