
      [nz-form] {
        max-width: 600px;
      }

      .phone-select {
        width: 70px;
      }

      .register-are {
        margin-bottom: 8px;
      }

      .custom-error-tip {
        color: red;
      }
  
      .nz-form-control input::placeholder {
        color: black; /* Replace with the desired color value */
      }
      
      
      /* Optional: Add styles to customize the focus color
      .nz-form-control input:focus::placeholder {
        color: #your-focused-color; 
      } */
      

      