<app-navbar-profile></app-navbar-profile>
<div class="mx-60 border font-GTPressura">
    <div class="p-4 ml-4">
    <h1 class="text-3xl mb-2">Delete account</h1>
       <p class="mx-2">If you delete your account, you will have the option to recover it within 30 days.</p> 
<div class="flex p-3 font-GTPressura">
    
  </div>
  <div class="flex justify-center pt-8">
    <button type="submit" nz-button
        class="font-GTPressura bg-red-500 text-white rounded-md px-4 py-1 h-12 text-xl hover:bg-green-600"
        [nzType]="'primary'" (click)="deleteApplicant()">Delete Account
    </button>
</div>
</div>
</div>