
    <nz-layout>
      <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo"></div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
          <li nz-submenu nzTitle="Employee" nzIcon="user">
            <ul>
              <li nz-menu-item>Add</li>
              <li nz-menu-item>Schedule</li>
              <li nz-menu-item>Payroll</li>
            </ul>
          </li>
          <li nz-submenu nzTitle="Applicant" nzIcon="team">
            <ul>
              <li nz-menu-item>Post Job</li>
              <li nz-menu-item>Applicant Tracking</li>
            </ul>
          </li>
          <li nz-menu-item>
            <span nz-icon nzType="file"></span>
            <span>File</span>
          </li>
        </ul>
      </nz-sider>
      <nz-layout>
        <nz-header>
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
        </nz-header>
        <nz-content>
          <!-- <nz-breadcrumb>
            <nz-breadcrumb-item>User</nz-breadcrumb-item>
            <nz-breadcrumb-item>Bill</nz-breadcrumb-item>
          </nz-breadcrumb> -->
          <div class="inner-content">
            <app-create-employee></app-create-employee>
          </div>
        </nz-content>
        <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
      </nz-layout>
    </nz-layout>
  