<nav class="navbar bg-green-600 text-white">
    <div class="container mx-auto flex items-center justify-end">
      <div class="flex items-center p-2">
        <button (click)="logout()" class="btn btn-ghost border rounded-md px-3 py-2 bg-white text-green-600">Log out</button>
      </div>
    </div>
  </nav>

  <div class="mx-60 border font-GTPressura">
    <div>
        <div class="bg-gray-300 flex justify-around p-2 list-none">
            <li class="cursor-pointer" [routerLink]="'/profile/' + applicantId">Profile</li>
            <li class="cursor-pointer" [routerLink]="'/experience/' + applicantId">Experience</li>
            <li class="cursor-pointer" [routerLink]="'/skills/' + applicantId">Skills</li>
            <li class="cursor-pointer" [routerLink]="'/applications/' + applicantId">Applications</li>
            <li class="cursor-pointer" [routerLink]="'/settings/' + applicantId">Settings</li>
        </div>
      </div>