<!-- <nav class="navbar bg-green-600 text-white">
    <div class="container mx-auto flex items-center justify-end">
      <div class="flex items-center p-2">
        <button (click)="logout()" class="btn btn-ghost border rounded-md px-3 py-2 bg-white text-green-600">Log out</button>
      </div>
    </div>
  </nav>

  <div class="mx-60 border font-GTPressura">
    <div>
        <div class="bg-gray-300 flex justify-around p-2 list-none">
            <li class="cursor-pointer" [routerLink]="'/profile/' + applicantId">Profile</li>
            <li class="cursor-pointer" [routerLink]="'/experience/' + applicantId">Experience</li>
            <li class="cursor-pointer" [routerLink]="'/skills/' + applicantId">Skills</li>
            <li class="cursor-pointer" [routerLink]="'/applications/' + applicantId">Applications</li>
            <li class="cursor-pointer" [routerLink]="'/settings/' + applicantId">Settings</li>
        </div>
      </div> -->


      <nav style="background-color: #16a34a; color: #ffffff;" class="navbar">
        <div style="margin-right: 2rem; padding-right: 2rem; padding-left: 2rem; display: flex; align-items: center; justify-content: flex-end;">
          <div style="display: flex; align-items: center; padding: 0.5rem;">
            <button [routerLink]="'/dashboard/' + applicantId" type="submit"  nz-button style="font-family: 'GTPressura'; background-color: #16a34a; border: none; margin-right: 2rem; color: #ffffff; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.5rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#16a34a';"><span nz-icon nzType="search" nzTheme="outline"></span>Find a Job</button>
            <button (click)="logout()" style="border: 1px solid #ffffff; cursor: pointer; font-family: 'GTPressura'; font-size: large; border-radius: 0.375rem; padding: 0.5rem 0.75rem; width: 6rem; background-color: #ffffff; color: #38a169;">Log out</button>
          </div>
        </div>
      </nav>
    
      <div style="margin-left: 15rem; margin-right: 15rem; border: 1px solid #f3f4f6; font-family: 'GTPressura'; font-size: large;">
        <div>
            <div style="background-color: #d1d5db; display: flex; justify-content: space-around; padding: 0.5rem;">
                <li style="cursor: pointer; list-style: none;" [routerLink]="'/profile/' + applicantId">Profile</li>
                <li style="cursor: pointer; list-style: none;" [routerLink]="'/experience/' + applicantId">Experience</li>
                <li style="cursor: pointer; list-style: none;" [routerLink]="'/skills/' + applicantId">Skills</li>
                <li style="cursor: pointer; list-style: none;" [routerLink]="'/applications/' + applicantId">Applications</li>
                <li style="cursor: pointer; list-style: none;" [routerLink]="'/settings/' + applicantId">Settings</li>
            </div>
        </div>
      </div>
    

      