<nav class="navbar bg-green-600 text-white">
    <div class="container mx-auto flex items-center justify-end">
      <div class="flex items-center p-2">
        <button class="btn btn-ghost border rounded-md px-3 py-2 bg-white text-green-600">Log out</button>
      </div>
    </div>
  </nav>

  <div class="mx-60 border font-GTPressura">
    <div>
        <div class="bg-gray-300 flex justify-around p-2 list-none">
            <li class="cursor-pointer" routerLink="/profile">Profile</li>
            <li class="cursor-pointer" routerLink="/experience">Experience</li>
            <li class="cursor-pointer" routerLink="/skills">Skills</li>
            <!-- <li class="cursor-pointer">Availability</li> -->
            <li class="cursor-pointer" routerLink="/applications">Applications</li>
            <li class="cursor-pointer" routerLink="/settings">Settings</li>
        </div>
      </div>