<section >
    <form
        
        [formGroup]="addressForm"
        (ngSubmit)="handleLoginClick()"
    >
        <div  >
            <input
            nz-input
                #mapSearchField
                type="text"
                placeholder="Dhaka, Bangladesh"
                style=" width: 20vw; font-size: medium;"
                formControlName="address"
                [style.border-color]="isFieldInvalid('address')"
                required
            />
        </div>
    </form>
</section>
