<div class="map" id="map" class="match-parent">
  <!-- <div class="form">
    <form id="params">
      <h4 class="txt-m txt-bold mb6">Choose a travel mode:</h4>
      <div class="mb12 mr12 toggle-group align-center">
        <label class="toggle-container" (click)="toggleTravel('walking')">
          <input name="profile" type="radio" value="walking" />
          <div class="toggle toggle--active-null toggle--null">Walking</div>
        </label>
        <label class="toggle-container" (click)="toggleTravel('cycling')">
          <input name="profile" type="radio" value="cycling" checked />
          <div class="toggle toggle--active-null toggle--null">Cycling</div>
        </label>
        <label class="toggle-container" (click)="toggleTravel('driving')">
          <input name="profile" type="radio" value="driving" />
          <div class="toggle toggle--active-null toggle--null">Driving</div>
        </label>
      </div>
      <h4 class="txt-m txt-bold mb6">Choose a maximum duration:</h4>
      <div class="mb12 mr12 toggle-group align-center">
        <label class="toggle-container" (click)="toggleTime(10)">
          <input name="duration" type="radio" value="10" checked />
          <div class="toggle toggle--active-null toggle--null">10 min</div>
        </label>
        <label class="toggle-container" (click)="toggleTime(20)">
          <input name="duration" type="radio" value="20" />
          <div class="toggle toggle--active-null toggle--null">20 min</div>
        </label>
        <label class="toggle-container" (click)="toggleTime(30)">
          <input name="duration" type="radio" value="30" />
          <div class="toggle toggle--active-null toggle--null">30 min</div>
        </label>
      </div>
    </form>
  </div> -->
</div>
