<!-- <nz-skeleton *ngIf="!isLoading"></nz-skeleton> -->

<div style=" font-family: 'Proxima Nova'">
  <div style="padding: 1rem; margin-left: 4px;">
    <h1 style="font-size: 1.875rem; font-weight: bold; padding-bottom: 1rem;">Experiences</h1>
    
    <div *ngIf="experience && experience.length > 0" style="display: flex; flex-direction: column;">
      <div *ngFor="let exp of experience" style="background-color: #fafafa; width: auto; height: 16vh; margin-bottom: 1rem;">
        <div style="display: flex; flex-direction: row; justify-content: space-between;">
          <div style="display: flex; margin-left: 1rem; margin-top: 1rem;">
            <h1>{{ getExperiencePart(exp, 1) }} at {{ getExperiencePart(exp, 0) }}</h1>
          </div>
          <div style="display: flex; margin-right: 1rem; margin-top: 1rem;">
            <p style="font-size: 1.2rem;">{{ formatDateRange(exp) }}</p>
          </div>
        </div> 
        <div style="display: flex; margin-left: 2rem;">
          <li style="font-size: 1rem;">
            {{ getExperiencePart(exp, 2) }}
          </li>
        </div>
      </div>
    </div>
    
    <div>
      <h1 style="margin-top: 1rem; margin-left: .5rem; font-size:x-large;">Highlight any relevant work & volunteer experience you may have.</h1>
    </div>
    <div style=" display: flex; padding: 0.75rem; font-family: 'Proxima Nova';">
      <form style="padding: 2rem;" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div>
          <div style="display: flex; align-items: center; text-decoration: underline;" >
            <svg style="cursor: pointer; border-radius: 50%; background-color: #fff;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1" stroke-linecap="round" stroke-linejoin="round" width="16" height="16">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="5" x2="12" y2="19"></line>
              <line x1="5" y1="12" x2="19" y2="12"></line>
            </svg>   
          <label style="font-size: x-large; display: flex; cursor: pointer;"  (click)="showExperienceForm = !showExperienceForm">Add Experience</label>
          
        </div> 
        
        <div *ngIf="showExperienceForm" style="display: grid; grid-template-columns: repeat(2, 1fr);">
          <h1 style="font-size: medium; padding: .5rem;">Restaurant Name</h1>
          <input nz-input type="text" style="font-size: medium; " id="restaurantName" formControlName="restaurantName" placeholder="Name">
          <h1 style="font-size: medium; padding: .5rem;">Position</h1>
          <input nz-input type="text" style="font-size: medium; " id="position" formControlName="position" placeholder="Position">
          <h1 style="font-size: medium; padding: .5rem;">Responsibilites</h1>
          <input nz-input type="text" style="font-size: medium; " id="responsibilities" formControlName="responsibilities" placeholder="Responsibilites">
          <h1 style="font-size: medium; padding: .5rem;">Employment Tenure</h1>
        <nz-form-item>
        <nz-form-control [nzSm]="16" [nzXs]="24">
          <nz-range-picker id="rangePicker" formControlName="rangePicker"></nz-range-picker>
        </nz-form-control>
      </nz-form-item>
          <div style="display: flex; justify-content: center; padding-top: 2rem; padding-bottom: 2rem;">
            <button class="my-btn" type="submit" (click)="submitForm()" nz-button style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 12rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';">Add Experience</button>
          </div>
        </div>
      </div>
    </form>
    </div>
  </div>
</div>
