<!-- <app-navbar-admin></app-navbar-admin> -->

<!-- <div class="mx-60 border font-GTPressura">
    <div *ngIf="!showForm">
    <h1 class="mt-6 text-center text-3xl">You dont have any Employee right now.</h1>
    <div  class=" flex justify-center mt-2 p-8">
    <button type="submit" nz-button
        class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 h-12 text-xl hover:bg-green-600"
        [nzType]="'primary'" (click)="showForm = true">Create New Employee
    </button>
  </div>
</div>
    <div *ngIf="showForm">
        <div class="float-right m-4">
            <button type="submit" nz-button
        class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 h-12 text-xl hover:bg-green-600"
        [nzType]="'primary'" (click)="showForm = false">Go back
    </button>
        </div>
      <div class="p-4 ml-4">
        
          <h1 class="text-3xl pb-4">Create Employee</h1>
          <p class="mx-2 pb-4">Create by filling in these information.</p>
          <div class="grid grid-cols-3">
            <img class=" pb-4" src="../../assets/images/user-profile-default.png">
            <div class="flex flex-col justify-center">
                <label class="mb-6" for="">First Name
                    <input type="text" [value]="firstName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
                <label class=""  for="">Email
                    <input type="text" [value]="lastName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
            </div>

            <div class="flex flex-col justify-center">
                <label class="mb-6" for="">Last Name
                    <input type="text" [value]="firstName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
                <label class=""  for="">Password
                    <input type="text" [value]="lastName" class="border bg-gray-100 rounded-lg p-2 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all">
                </label>
                
            </div>
            
          </div>
        
    </div>
        <form nz-form class="p-8 grid grid-cols-3 " [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item class="p-3">
            <nz-form-label>Phone Number</nz-form-label>
            <nz-form-control [nzValidateStatus]="validateForm.controls['phoneNumber']" nzErrorTip="Please input your phone number!" class="custom-error-tip">
              <nz-input-group [nzAddOnBefore]="addOnBeforeTemplate">
                <ng-template #addOnBeforeTemplate>
                </ng-template>
              </nz-input-group>
              <input nz-input formControlName="phoneNumber" id="phoneNumber" placeholder="Phone Number" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;">
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item class="p-3">
            <nz-form-label>Hourly Rate</nz-form-label>
            <nz-form-control nzErrorTip="Please input your hourly Rate!" class="custom-error-tip">
              <input nz-input id="hourlyRate" formControlName="hourlyRate" placeholder="Hourly Rate" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
            </nz-form-control>
          </nz-form-item>
    
          <nz-form-item class="p-3">
            <nz-form-label>Address</nz-form-label>
            <nz-form-control nzErrorTip="Please input a address!" class="custom-error-tip">
              <textarea nz-input id="address" formControlName="address" placeholder="Address" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem;  border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="p-3">
            <nz-form-label>Experience</nz-form-label>
            <nz-form-control nzErrorTip="Please input a address!" class="custom-error-tip">
              <textarea nz-input id="address" formControlName="address" placeholder="Address" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem;  border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item class="p-3">
            <nz-form-label>Skill Tags</nz-form-label>
            <nz-form-control nzErrorTip="Please input your skill Tags!" class="custom-error-tip">
              <textarea nz-input id="skillTags" formControlName="skillTags" placeholder="Skill Tags" class="border bg-gray-100  text-gray-700 focus:w-96 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem; border-radius: 10px;">
              </textarea>
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="p-3">
            <nz-form-label>Service Access</nz-form-label>
            <nz-form-control nzErrorTip="Please input service access!" class="custom-error-tip">
              <select nz-input id="serviceAccess" formControlName="serviceAccess" placeholder="KDS" class="border bg-gray-100  text-gray-700  focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: 1rem; height: auto; border-radius: 10px;">
                <option value="" disabled selected>Select services</option>
                <option value="Option 1">INVENTORY</option>
                <option value="Option 2">MENU BUILDER</option>
                <option value="Option 3">KDS</option>
                <option value="Option 4">MARKET PLACE</option>
                <option value="Option 5">POS</option>
            </select>
            </nz-form-control>
          </nz-form-item>
    
          
    </form>
    <div >
        
        <div class=" flex justify-center p-14">
          <button type="submit" nz-button
              class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 w-40 h-12 text-xl hover:bg-green-600"
              [nzType]="'primary'">Create
          </button>
        </div>
    </div>   
</div> -->


<div style="  font-family: 'GTPressura';">
  <div *ngIf="!showForm">
    <h1 *ngIf="apiData.length === 0" style="margin-top: 1.5rem; text-align: center; font-size: 1.875rem;">You don't have any Employee right now.</h1>
    <div *ngIf="apiData.length">
      <h1 style="margin-top: 1.5rem; text-align: center; font-size: 1.875rem;">Employee Information</h1>
    <nz-table #basicTable [nzData]="apiData">
      <thead>
        <tr>
          <th>Employee Id</th>
          <th>Name</th>
          <!-- <th>Job Nature</th> -->
          <th>Hourly Rate</th>
          <th>Efficiency</th>
          <th>Joining Date</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <!-- <td>{{data.jobNature}}</td> -->
          <td>{{data.hourlyRate | currency}}</td>
          <td>80%</td>
          <td>{{data.createdAt | date: 'yyyy-MM-dd ' }}</td>
          <td>
            <span style="cursor: pointer;" nz-icon nzType="eye" nzTheme="outline"></span>
            <!-- <a style="color: rgb(83, 161, 76);">Details</a> -->
          </td>
        </tr>
      </tbody>
    </nz-table>
    </div>
    
    <div style="display: flex; justify-content: center; margin-top: 1rem; padding: 2rem;">
        <button type="submit" nz-button style="font-family: 'GTPressura', sans-serif; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 16rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
            [nzType]="'primary'" (click)="showForm = true">Create New Employee
        </button>
    </div>
</div>
<div *ngIf="showForm">
  <div style="float: right; margin: 1rem 4rem;">
      <button type="submit" nz-button style="font-family: 'GTPressura', sans-serif; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
          [nzType]="'primary'" (click)="showForm = false">Go back
      </button>
  </div>
  <div style="padding: 1rem; margin-left: 4px;">
    <h1 style="font-size: 1.875rem; font-weight: bold; padding-bottom: .5rem;">Create Employee</h1>
    <p style="margin-left: .5rem; font-size: x-large; padding-bottom: 1rem;">Create by filling in these information.</p>
    <form nz-form style="display: grid; grid-template-columns: repeat(3, 1fr);" [formGroup]="validateFormPartOne">
    <!-- <div style="display: grid; grid-template-columns: repeat(3, 1fr);"> -->
      <img style="padding-bottom: 1rem;" src="../../assets/images/user-profile-default.png" alt="">
      <nz-form-item>
      <div style="display: flex;">
        <div >
        <label style=" font-size: large;">First Name</label>
        <nz-form-control nzErrorTip="Please input your phone number!" class="custom-error-tip">
          <input nz-input style="font-size: large; margin-top: .5rem;" type="text"  formControlName="firstName" id="firstName" placeholder="First Name" >
        </nz-form-control>
      </div>
      <div style="margin-left: 3rem;">
        <label style=" font-size: large;" for="email">Email</label>
        <nz-form-control nzErrorTip="Please input your phone number!" class="custom-error-tip">
          <input nz-input style="font-size: large; margin-top: .5rem;" type="text"  formControlName="email" id="email" placeholder="Email" >
        </nz-form-control>
      </div>
      </div>
      <div style="display: flex;">
        <div >
        <label style=" font-size: large;">Last Name</label>
        <nz-form-control nzErrorTip="Please input your phone number!" class="custom-error-tip">
          <input nz-input style="font-size: large; margin-top: .5rem;" type="text"  formControlName="lastName" id="lastName" placeholder="Last Name" >
        </nz-form-control>
      </div>
      <div style="margin-left: 3rem;">
        <label style="  font-size: large;" for="password">Password</label>
        <nz-form-control nzErrorTip="Please input your phone number!" class="custom-error-tip">
          <input nz-input style="font-size: large; margin-top: .5rem;" type="text"  formControlName="password" id="password" placeholder="Password" >
        </nz-form-control>
      </div>
      </div>
      </nz-form-item>
    </form>
  </div>
  <form nz-form style="padding: 1.5rem; display: grid; grid-template-columns: repeat(2, 1fr);" [formGroup]="validateFormPartOne" (ngSubmit)="submitFormPartOne()">
    <nz-form-item>
      <label style="font-size: large;" >Phone Number</label>
      <nz-form-control nzErrorTip="Please input your phone number!" class="custom-error-tip">
        <input nz-input style="font-size: large; margin-top: .5rem;" type="text"  formControlName="phoneNumber" id="phoneNumber" placeholder="Phone Number" >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <label style="font-size: large;">Hourly Rate</label>
      <nz-form-control nzErrorTip="Please input your hourly Rate!" class="custom-error-tip">
        <input nz-input style="font-size: large; margin-top: .5rem;" type="text"  id="hourlyRate" formControlName="hourlyRate" placeholder="Hourly Rate" >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <label style="font-size: large;">Address</label>
      <nz-form-control nzErrorTip="Please input an address!" class="custom-error-tip">
        <textarea nz-input style="font-size: large; margin-top: .5rem;" type="text"  id="address" formControlName="address" placeholder="Address"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div style="display: flex; justify-content: center;  padding-bottom: 1rem;">
    <button class="my-btn" type="submit" (click)="submitFormPartOne()"  nz-button style="font-family: 'GTPressura', sans-serif; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';">Next</button>
</div>
</div>

 



