<div style="  font-family: 'Proxima Nova';">
  <div *ngIf="!showForm">
    <h1 *ngIf="apiData.length === 0" style="margin-top: 1rem; text-align: center; font-size: 1.875rem;">You don't have any Employee right now.</h1>
    <div *ngIf="apiData.length">
      <h1 style="margin-top: 1rem; text-align: center; font-size: 1.875rem;">Employee Information</h1>
    <nz-table #basicTable style="max-width: 90vw;" [nzData]="apiData" [nzPageIndex]="currentPage" [nzPageSize]="pageSize" (nzPageIndexChange)="handlePageIndexChange($event)">
      <thead>
        <tr>
          <th>Employee</th>
          <th >Id</th>
          <th>Name</th>
          <th>Position</th>
          <!-- <th>Job Nature</th> -->
          <th>Hourly Rate</th>
          <th>Efficiency</th>
          <th>Joining Date</th>
          <th>Skill Tags</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>
            <img
              *ngIf="data.imageUrl; else defaultImage"
              src="{{ data.imageUrl }}"
              style="width: 4rem; border-radius: 100px;"
              alt=""
            />
            <ng-template #defaultImage>
              <img
                src="../../assets/images/user-profile-default.png"
                style="width: 4rem; border-radius: 100px;"
                alt=""
              />
            </ng-template>
          </td>
          
          <!-- <td><img src="{{data.imageUrl}} " style="width: 6rem; border-radius: 100px;" alt=""></td> -->
          <td>{{data.id}}</td>
          <td>{{data.name}}</td>
          <!-- <td>{{data.jobNature}}</td> -->
          <td>{{data.position?.position}}</td>
          <td>{{data.hourlyRate | currency}}</td>
          <td>80%</td>
          <td>{{data.createdAt | date: 'yyyy-MM-dd ' }}</td>
          <td>
            <button nz-button [nzType]="'primary'" (click)="showModal(data.id, data.skillTags)"><span>View Skills</span></button>        
          </td>
        </tr>
      </tbody>
    </nz-table>
    </div>
    <div><nz-modal [(nzVisible)]="isVisible" nzTitle="Skill Tags" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
      <ng-container *nzModalContent>
        <p *ngIf="selectedEmployeeSkill.length > 0; else noSkill">{{ selectedEmployeeSkill.join(', ') }}</p>
<ng-template #noSkill>No skill added</ng-template>
      </ng-container>
    </nz-modal></div>
    <div style="display: flex; justify-content: center; padding: .1rem;">
        <button type="submit" nz-button style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 16rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
            [nzType]="'primary'" (click)="showForm = true">Create New Employee
        </button>
    </div>
</div>
<div *ngIf="showForm">
  <div style="float: right; margin: 1rem 4rem;">
      <button type="submit" nz-button style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
          [nzType]="'primary'" (click)="showForm = false">Go back
      </button>
  </div>
  <div style="padding: 1rem; margin-left: 4px;">
    <h1 style="font-size: 1.875rem; font-weight: bold; padding-bottom: .5rem;">Create Employee</h1>
    <p style="margin-left: .5rem; font-size: x-large; padding-bottom: 1rem;">Create by filling in these information.</p>
    <form nz-form style="display: grid; grid-template-columns: repeat(3, 1fr);" [formGroup]="validateFormPartOne">
    <!-- <div style="display: grid; grid-template-columns: repeat(3, 1fr);"> -->
      <!-- <img style="padding-bottom: 1rem;" src="../../assets/images/user-profile-default.png" alt=""> -->
      <div style="display: flex; flex-direction: column;">
        <img style="padding-bottom: .5rem; width: 12rem; height: 22vh; border-radius: 100px;" [src]="uploadedImageUrl || '../../assets/images/user-profile-default.png'" alt="">
        
        <nz-upload style="margin-left: 1.5rem;"
    nzAction="''"   
    (nzChange)="selectFile($event)"
  >
    <button nz-button>
      <span nz-icon nzType="upload"></span>
      Click to Upload
    </button>
  </nz-upload>
      </div>
      
      <nz-form-item>
      <div style="display: flex;">
        <div >
        <label style=" font-size: medium;">First Name</label>
        <nz-form-control nzErrorTip="Please enter your First Name!" class="custom-error-tip">
          <input nz-input style="font-size: medium; margin-top: .5rem;" type="text"  formControlName="firstName" id="firstName" placeholder="First Name" >
        </nz-form-control>
      </div>
      <div style="margin-left: 3rem;">
        <label style=" font-size: medium;" for="email">Email</label>
        <nz-form-control nzErrorTip="Please enter your Email!" class="custom-error-tip">
          <input nz-input style="font-size: medium; margin-top: .5rem;" type="text"  formControlName="email" id="email" placeholder="Email" >
        </nz-form-control>
      </div>
      </div>
      <div style="display: flex; margin-top: .5rem;">
        <div >
        <label style=" font-size: medium; ">Last Name</label>
        <nz-form-control nzErrorTip="Please enter your Last Name!" class="custom-error-tip">
          <input nz-input style="font-size: medium; margin-top: .5rem;" type="text"  formControlName="lastName" id="lastName" placeholder="Last Name" >
        </nz-form-control>
      </div>
      <div style="margin-left: 3rem; ">
        <label style="  font-size: medium;" for="password">Password</label>
        <nz-form-control nzErrorTip="Please set a Password!" class="custom-error-tip">
          <input nz-input style="font-size: medium; margin-top: .5rem;" type="password"  formControlName="password" id="password" placeholder="Password" >
        </nz-form-control>
      </div>
      </div>
      </nz-form-item>
    </form>
  </div>
  <form nz-form style="padding: 1.5rem; display: grid; grid-template-columns: repeat(2, 1fr);" [formGroup]="validateFormPartOne" (ngSubmit)="submitFormPartOne()">
    <nz-form-item>
      <label style="font-size: medium;" >Phone Number</label>
      <nz-form-control nzErrorTip="Please input your phone number!" class="custom-error-tip">
        <input nz-input style="font-size: medium; margin-top: .5rem;" type="text"  formControlName="phoneNumber" id="phoneNumber" placeholder="Phone Number" >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <label style="font-size: medium;">Hourly Rate</label>
      <nz-form-control nzErrorTip="Please input your hourly Rate!" class="custom-error-tip">
        <input nz-input style="font-size: medium; margin-top: .5rem;" type="text"  id="hourlyRate" formControlName="hourlyRate" placeholder="Hourly Rate" >
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <label style="font-size: medium;">Address</label>
      <nz-form-control nzErrorTip="Please input an address!" class="custom-error-tip">
        <textarea nz-input style="font-size: medium; margin-top: .5rem;" type="text"  id="address" formControlName="address" placeholder="Address"></textarea>
      </nz-form-control>
    </nz-form-item>
  </form>
  <div style="display: flex; justify-content: center;  padding-bottom: 1rem;">
    <button class="my-btn" [nzLoading]="isLoading" type="submit" (click)="submitFormPartOne()"  nz-button style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';">Next</button>
</div>
</div>

 



