<!-- <app-navbar-admin></app-navbar-admin> -->

  <div [formGroup]="validateForm" style=" font-family: 'Proxima Nova';">
    <div > 
    <div style="padding: 1rem; margin-left: 4px;">
      <div>
        <h1 style="font-size: 1.875rem; font-weight: bold; padding-bottom: .5rem;">Generate Payroll</h1>
        <p style="margin-left: .5rem; font-size: x-large; padding-bottom: 1rem;">Search the Employee you want to generate payroll.</p>
        <nz-select
      formControlName="selectedUser"
      (nzScrollToBottom)="loadMore()"
      nzPlaceHolder="Select Employee"
      nzAllowClear
      [nzDropdownRender]="renderTemplate"
    >
      <nz-option *ngFor="let o of optionList" [nzValue]="o" [nzLabel]="formatUserOption(o)"></nz-option>
    </nz-select>
    <ng-template #renderTemplate>
      <nz-spin *ngIf="isLoading"></nz-spin>
    </ng-template>
      </div>
        
    </div>
        <form nz-form style="padding: 1.5rem; margin-left: 4px; display: grid; grid-template-columns: repeat(3, 1fr);" [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item  >
            <label style="font-size: medium; margin-left: .5rem; ">Hourly Rate:</label>
            <nz-form-control nzErrorTip="Please input Hourly Rate!" class="custom-error-tip">
                <input type="text" style="font-size: medium; margin-left: .5rem;" nz-input id="hourlyRate" formControlName="hourlyRate" placeholder="60$" > 
              </nz-form-control>
          </nz-form-item>  
          <nz-form-item >
            <label style=" font-size: medium;">Total Hours:</label>
            <nz-form-control nzErrorTip="Please input the Starting Time!" class="custom-error-tip">
              <input type="text" style="font-size: medium; " nz-input id="totalHours" formControlName="totalHours" placeholder="240 Hours" > 
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item >
            <label style="font-size: medium;">Total Deduction:</label>
            <nz-form-control nzErrorTip="Please input the Ending Time!" class="custom-error-tip">
              <input type="text" style="font-size: medium; " nz-input id="totalDeduction" formControlName="totalDeduction" placeholder="100$" > 
            </nz-form-control>
          </nz-form-item>
    </form>
    <div >
        
        <div style="display: flex; justify-content: center;  padding-bottom: 1rem;">
          <button type="submit" nz-button
          style="font-family: 'Proxima Nova'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
             [nzType]="'primary'" (click)="submitForm()" >Genarate
          </button>
        </div>
    </div>
</div> 
      <div *ngIf="showForm" style="padding: 1rem; margin-left: 1rem;">
        
        <table style="border-collapse: collapse; width: 100%;">
          <thead>
            <tr>
              <th style="border: 1px solid #cbd5e0; padding: 0.5rem;" colspan="2">Income Description</th>
            </tr>
          </thead>
          <tbody>
            <tr style="text-align: center;">
                <th style="border: 1px solid #cbd5e0; padding: 0.5rem;">Employee ID</th>
              <td style="border: 1px solid #cbd5e0; padding: 0.5rem;"> {{employeeId}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr style="text-align: center;">
                <th style="border: 1px solid #cbd5e0; padding: 0.5rem;">Hourly Rate</th>
              <td style="border: 1px solid #cbd5e0; padding: 0.5rem;"> {{hourlyRate | currency:'£'}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr style="text-align: center;">
                <th style="border: 1px solid #cbd5e0; padding: 0.5rem;">Total Hours</th>
              <td style="border: 1px solid #cbd5e0; padding: 0.5rem;"> {{totalHours}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr style="text-align: center;">
                <th style="border: 1px solid #cbd5e0; padding: 0.5rem;">Total Deduction</th>
              <td style="border: 1px solid #cbd5e0; padding: 0.5rem;">{{totalDeduction | currency:'£'}}</td>
            </tr>
          </tbody>
          <tbody>
            <tr style="text-align: center;">
                <th style="border: 1px solid #cbd5e0; padding: 0.5rem;">Net Payable</th>
              <td style="border: 1px solid #cbd5e0; padding: 0.5rem;">{{netPayable | currency:'£'}}</td>
            </tr>
          </tbody>
        </table>
        <div style="display: flex; justify-content: center; margin: 1.5rem;">
          <button type="submit" nz-button
          style="font-family: 'GTPressura', sans-serif; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 10rem; height: 3rem; font-size: 1.25rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';"
            (click)="sendPayrollToEmail()"  [nzType]="'primary'" >Send Payroll
          </button>
        </div>
      </div>
  </div>

  


