.input-container {
    display: flex;
    position: relative;
  }
  

  .custom-error-tip {
    color: red;
    font-size: large;
  }
  
  nz-form-item {
    display: block;
  }
  
  nz-form-control {
    position: relative;
  }
   


  #day, #slotStarts, #slotEnds {
    width: 24rem;
  }
  
  input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  /* border-color: #2bb053;  */
  box-shadow: 0 0 5px #2bb053 !important;
  border-color: #2bb053 !important;
}
  
input[type='text']:hover {
  border-color: #2bb053;
}

#employeeId:hover {
  border-color: #2bb053;
}

#employeeId:focus {
  border-color: #2bb053
}
  
  
* {
  font-size: large;
}  

nz-select {
  margin-left: .5rem;
  padding-bottom: .5rem;
  width: 24rem;
  font-size: 1.2rem;
}
  
nz-select:hover {
  border-color: #2bb053!important;
}
  
#select:hover {
  border-color: #2bb053!important;
}

nz-time-picker {
  width: 24rem;
  font-size: 1.2rem;
}

.events {
  list-style: none;
  margin: 0;
  padding: 0;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

.notes-month {
  text-align: center;
  font-size: 28px;
}

.notes-month section {
  font-size: 28px;
}

.events .ant-badge-status {
  overflow: hidden;
  white-space: normal; /* Use 'normal' for text wrapping */
  width: 100%;
  text-overflow: ellipsis;
  font-size: 12px;
}

