<app-navbar-profile></app-navbar-profile>
<div style="margin-left: 15rem; margin-right: 15rem; border: 1px solid #cbd5e0; font-family: 'GTPressura'">
  <div style="padding: 1rem; margin-left: 4px;">
    <h1 style="font-size: 1.875rem; font-weight: bold; padding-bottom: 1rem;">Your Current Applications</h1>
    
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Job Role</th>
          <th>Job Nature</th>
          <th>Hourly Rate</th>
          <!-- <th>Skill Tags</th> -->
          <!-- <th>Interview Date</th> -->
          <!-- <th>Status</th> -->
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.restaurantId}}</td>
          <td>{{data.job.jobRole}}</td>
          <td>{{data.job.jobNature}}</td>
          <td>{{data.job.hourlyRate | currency}}</td>
          <!-- <td>{{data.interviewDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{data.status}}</td> -->
          <td>
            <a style="color: red;">Cancel</a>
          </td>
        </tr>
      </tbody>
    </nz-table>

  <div style="display: flex; justify-content: center; padding-top: 2rem; padding-bottom: 2rem;">
    <button type="submit"  nz-button style="font-family: 'GTPressura'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.5rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';">Find Job</button>
</div>
</div>
</div>