<app-navbar-profile></app-navbar-profile>
<div style="margin-left: 15rem; margin-right: 15rem; border: 1px solid #cbd5e0; font-family: 'GTPressura'">
  <div style="padding: 1rem; margin-left: 4px;">
    <h1 style="font-size: 1.875rem; font-weight: bold; padding-bottom: 1rem;">Your Current Applications</h1>
    <!-- <div>
      <p style="margin-left: .5rem; font-size: larger; padding-bottom: 1rem;">You didn't apply to a job yet</p> 
    </div> -->
    <!-- <div style="display: flex;">
      <nz-descriptions nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Restaurant Name"></nz-descriptions-item>
      </nz-descriptions>
    
      <nz-descriptions nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Type"></nz-descriptions-item>
      </nz-descriptions>
    
      <nz-descriptions nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Job Nature"></nz-descriptions-item>
      </nz-descriptions>
    
      <nz-descriptions nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Hourly Rate"></nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Interview Date"></nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Status"></nz-descriptions-item>
      </nz-descriptions>
      <nz-descriptions nzBordered nzLayout="vertical">
        <nz-descriptions-item nzTitle="Danger"></nz-descriptions-item>
      </nz-descriptions>
    </div> -->
    
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Category</th>
          <th>Job Nature</th>
          <th>Hourly Rate</th>
          <th>Interview Date</th>
          <th>Status</th>
          <th>Danger</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{data.restaurantName}}</td>
          <td>{{data.restaurantType}}</td>
          <td>{{data.jobNature}}</td>
          <td>{{data.hourlyRate | currency}}</td>
          <td>{{data.interviewDate | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <td>{{data.status}}</td>
          <td>
            <a style="color: red;">Delete</a>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- <div style=" background-color: hsl(126, 29%, 93%); font-size: larger; width: 100%; height: 6rem; border-radius: 1rem; margin-bottom: 1rem;">
      <div style="display: flex; flex-direction: row; justify-content: space-between; padding: 2rem; list-style-type: none; font-size: larger;">
        <li>KFC</li>
      <li>Fast Food</li>
      <li>Part Time</li>
      <li>60 </li>
      <li>25.8.23</li>
      <li>Pending</li>
      <button style="background-color: #EF4444;border: none; cursor: pointer; color: #ffffff; padding-left:.75rem; padding-right:.75rem; border-radius: .5rem;">Delete</button>
      </div>
    </div> -->
  <div style="display: flex; justify-content: center; padding-top: 2rem; padding-bottom: 2rem;">
    <button type="submit"  nz-button style="font-family: 'GTPressura'; background-color: #22c55e; color: #ffffff; border-radius: 0.375rem; border-color: #22c55e; padding-left: 0.75rem; padding-right: 0.75rem; padding-top: 0.25rem; padding-bottom: 0.25rem; width: 8rem; height: 3rem; font-size: 1.5rem; " onmouseover="this.style.backgroundColor='#38a169';" onmouseout="this.style.backgroundColor='#22c55e';">Find Job</button>
</div>
</div>
</div>