<app-navbar-admin></app-navbar-admin>

  <div class="mx-60 border font-GTPressura">
    <div *ngIf="showForm"> 
    <div class="flex p-4 ml-4">
          <div>
          <h1 class="text-3xl pb-4">Update Schedule</h1>
          <p class="mx-2 pb-2">Search the Employee you want to update schedule.</p>
          <div class="input-container">
            <input type="text" placeholder="Employee Id" class="border bg-gray-100 text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all p-2 rounded-md">
            <button class="btn-icon"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 50 50"><path d="M 21 4 C 11.082241 4 3 12.082241 3 22 C 3 31.917759 11.082241 40 21 40 C 24.62177 40 27.99231 38.91393 30.820312 37.0625 L 43.378906 49.621094 L 47.621094 45.378906 L 35.224609 32.982422 C 37.581469 29.938384 39 26.13473 39 22 C 39 12.082241 30.917759 4 21 4 z M 21 8 C 28.756241 8 35 14.243759 35 22 C 35 29.756241 28.756241 36 21 36 C 13.243759 36 7 29.756241 7 22 C 7 14.243759 13.243759 8 21 8 z"></path></svg></button>
          </div>
        </div>
    </div>
        <form nz-form class="p-6 grid grid-cols-3 " [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item class="p-3">
            <nz-form-label>Day</nz-form-label>
            <nz-form-control nzErrorTip="Please input Job Role!" class="custom-error-tip">
                <input nz-input id="jobRole" formControlName="jobRole" placeholder="Monday" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
              </nz-form-control>
          </nz-form-item>  
          <nz-form-item class="p-3">
            <nz-form-label>Slot Starts</nz-form-label>
            <nz-form-control nzErrorTip="Please input the Job Nature!" class="custom-error-tip">
              <input nz-input id="jobNature" formControlName="jobNature" placeholder="8 am" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
            </nz-form-control>
          </nz-form-item>
          
          <nz-form-item class="p-3">
            <nz-form-label>Slot Ends</nz-form-label>
            <nz-form-control nzErrorTip="Please input your Hourly Rate!" class="custom-error-tip">
              <input nz-input id="hourlyRate formControlName="hourlyRate placeholder="6 pm" class="border bg-gray-100  text-gray-700 focus:border-green-500 focus:outline-none focus:ring focus:ring-green-200 transition-all" style="padding-left: 2px; padding: .5rem;  border-radius: 10px;"> 
            </nz-form-control>
          </nz-form-item>
    </form>
    <div >
        
        <div class=" flex justify-center p-4">
          <button type="submit" nz-button
              class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 w-40 h-12 text-xl hover:bg-green-600"
              [nzType]="'primary'">Update
          </button>
        </div>
    </div>
</div> 
      <div class="p-4 ml-4">
        <h1 class="text-3xl pb-2 text-center">Current Schedule</h1>
        <div *ngIf="!showForm" class=" flex justify-end mb-4">
            <button type="submit" nz-button
                class="font-GTPressura bg-green-500 text-white rounded-md px-3 py-1 w-40 h-12 text-xl hover:bg-green-600"
                [nzType]="'primary'" (click)="showForm = true">Edit Schedule
            </button>
          </div>
        <table class="border-collapse w-full">
          <thead>
            <tr>
              <th class="border p-2">Employee Id</th>
              <th class="border p-2">Monday</th>
              <th class="border p-2">Tuesday</th>
              <th class="border p-2">Wednesday</th>
              <th class="border p-2">Thursday</th>
              <th class="border p-2">Friday</th>
              <th class="border p-2">Saturday</th>
              <th class="border p-2">Sunday</th>
            </tr>
          </thead>
          <tbody>
            <tr class="text-center">
              <td class="border p-2">1</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <!-- <td class="border p-2">
                <button class="bg-blue-500 text-white px-2 py-1">Edit</button>
                <button class="bg-red-500 text-white px-2 py-1">Delete</button>
              </td> -->
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td class="border p-2">2</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td class="border p-2">3</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td class="border p-2">4</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td class="border p-2">5</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td class="border p-2">6</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
            </tr>
          </tbody>
          <tbody>
            <tr class="text-center">
              <td class="border p-2">7</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
              <td class="border p-2">8 am - 6 pm</td>
            </tr>
          </tbody>
        </table>
      </div>
    
  </div>

  


