.input-container {
    display: flex;
    position: relative;
  }
  
  .input-container input {
    flex: 1;
  }
  
  .btn-icon {
    position: absolute;
    top: 50%;
    right:3%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
  }